<div class=" shadow text-center justify-content-center w-100 d-flex  " style=" position: fixed;
      bottom: 0rem; background-color: currentColor; left: 0px; z-index: 1;">

<a class="nav-link me-4 m-3" href="/"><i class="fa-solid fa-address-book " style=" font-size: 1.6rem; color: rgb(255, 255, 255)"></i></a>
<!-- <a class="nav-link me-4  m-3" href="/create"><i class="fa-solid fa-circle-plus" style="  font-size: 1.6rem; color: rgb(255, 255, 255)"></i></a> -->
<a class="nav-link me-4  m-3" href="/editprofile"><i class="fa-solid fa-user" style=" font-size: 1.6rem; color: rgb(255, 255, 255)"></i></a>
<a class="nav-link me-4  m-3" href="#"><i class="fa-solid fa-house" style=" font-size: 1.6rem; color: rgb(255, 255, 255)"></i></a>

</div>