



<form id="filter" class="" action="home/filter" method="post" >
  

  <div class="container bg-light mt-2 border rounded-2 p-2">
    <div class="row align-items-center px-1">
      <label for="service" class="col-sm-2 col-form-label text-muted"> Service</label>
      <div class="col-sm-10">

       
        <select class="form-select" name="service" id="service">
          <option selected value="">All</option>
          <% data.filter((value, index, self) => {
            return self.findIndex((t) => t.service === value.service) === index;
          }).forEach((element) => { %>
            <option value="<%= element.service %>"><%= element.service %></option>
          <% }); %>
        </select>
      </div>
    </div>
  
    <div class="row align-items-center px-1">
      <label for="pincode" class="col-sm-2 col-form-label text-muted">Pincode</label>
      <div class="col-sm-10">
        
        <input class="form-control" type="text" id="pincode" value="<%= userdata.pincode %>" name="pincode"  placeholder="Enter pincode">



      </div>


    </div>
  </div>
  





</form>
<script>
  document.addEventListener("DOMContentLoaded", function() {
  // Get the form element
  var form = document.getElementById("filter");

  // Add event listener to form elements
  var elements = form.elements;
  for (var i = 0; i < elements.length; i++) {
    elements[i].addEventListener("change", function() {
      form.submit();
    });
  }
});
</script>


