<div class="container shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand bold fw-bold text-primary" href="#" style="font-family: 'Poppins', sans-serif;"><img src="kamingo_favicon.png" width="35rem" alt=""> Kamingo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto ">
            <li class="nav-item d-flex ">
              <a class="nav-link me-2" href="/"><i class="fa-solid fa-address-book " style=" font-size: 1.4rem; color: cornflowerblue"></i></a>
              <a class="nav-link me-2" href="/create"><i class="fa-solid fa-circle-plus" style="  font-size: 1.4rem; color: cornflowerblue"></i></a>
              <a class="nav-link me-2" href="/EditProfile"><i class="fa-solid fa-user" style=" font-size: 1.4rem; color: cornflowerblue"></i></a>
              <a class="nav-link me-2" href="#"><i class="fa-solid fa-house" style=" font-size: 1.4rem; color: cornflowerblue"></i></a>

            </li>
          </ul>
        </div>
      </div>

    </nav>





  </div>