
  <div class="col-md-6 m-1 border rounded " style="max-width: 26rem;">


    <div class="d-flex">
      <div class="row ">

        <div class="col-5">
          <div class="border my-2 rounded d-flex" style="object-fit: scale-down;">
            <img src="kamingo_favicon.png" alt="" srcset="" class="m-2" style="max-width: 10rem; width: 100%;  ">
          </div>
        </div>
        <div class="col-7 my-2">
            <p class="fw-bold m-0" style="font-size: 1.4rem;"  >Rajvendra rahi </p>
            <p class="text-muted " > Web Developer</p>
            <p style="font-size: 0.8rem; margin: 0 0.1rem 0.2rem 0.2rem;" class="fw-bold"><i class="fa-solid fa-location-dot" style="font-size: 1rem; color: black;" ></i> Mukesh nagar bhopal</p>
            <p style="font-size: 0.8rem;" class="fw-bold m-0" ><i class="fa-solid fa-star " style="font-size: 1rem; color: gold;"></i> 5.0</p>
            <div class="d-flex justify-content-end">
              <button class="btn-sm btn btn-outline-primary" style="border-radius: 2rem;" type="submit">View Profile</button>

            </div>

        </div>

      </div>



    </div>
  </div>
