<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/header.ejs') %>
</head>
<body>
  <style>
    .hide {
      display: none;
    }
  </style>

<%- include('./partials/nav.ejs') %>

<div class="container">

<form class="border p-2 rounded my-3" action="" method="POST">
    <div class="text-center my-2">
        <h4>Create A New Post</h4>

    </div>
<div class="mb-3 ">
    <label for="exampleFormControlInput1" class="form-label">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
</div>
</form>
</body>


<script>

   // Check the viewport size
   var mq = window.matchMedia('(max-width: 600px)');

// Function to handle changes to the viewport size
function handleViewportChange(mq) {
  if (mq.matches) {


    document.querySelector('.navbar').classList.add('hide');

  } else {
    // If viewport is greater than 600px wide, remove the new-class

    document.querySelector('.navbar').classList.remove('hide');


  }
}

// Call the function on load and when the viewport size changes
handleViewportChange(mq);
mq.addListener(handleViewportChange);

</script>


</html>