<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 

<style>
  .hide {
    display: none;
  }
</style>

<body>

    <style>
        .ico{
          font-size: 1.2rem;
        }
        i.fa {
        display: inline-block;
        border-radius: 60px;
        box-shadow: 0 0 2px #888;
        background-color: #2e3c5d;
        padding: 0.5em 0.6em;
        color: white;
        aspect-ratio: 1/1;
      
      }
      
      </style>
     <div class="container">
      
      
      <div class="row" style="cursor: pointer; display: flex;">
      
       
      
        <h3>Profile</h3>
        <div class="p-2 border rounded shadow d-flex position-relative " style="align-items: center;" >
          <a href="/profile" class="stretched-link"></a>
          <div>
            <i class="fa-solid fa fa-user me-3" style="background-color: white; color: #2e3c5d; font-size: 1.5rem;"></i>
      
          </div>
          
        <div>
      
          <p class=" m-0 mb-1" style="font-size: 1.2rem;">Rajvendra Rahi</p>

          <div class="d-flex">
            <p class="me-2" ><i class="fa-regular fa-heart"></i> 2k  </p>
            <p><i class="fa-regular fa-star"></i> 1.5</p>
          </div>

      
        </div>
      
        </div>
      </div>
      
      
      
      <div class="bg-light row my-3">
      
        <div class="row">
          <div class="d-flex p-1 " style="align-items: center;">
             <a class="m-0 text-dark" href="/" style="text-decoration: none;" ><i class="fa-solid fa fa-car me-3"></i> Park</a>
          </div>
        
        </div>
        
      
        <div class="row">
          <div class="d-flex p-1 " style="align-items: center;">
             <a class="m-0 text-dark" href="/" style="text-decoration: none;" ><i class="fa-solid fa fa-bolt me-3"></i> Charge</a>
          </div>
        
        </div>
        
        <div class="row">
          <div class="d-flex p-1 " style="align-items: center;">
             <a class="m-0 text-dark" href="/" style="text-decoration: none;" ><i class="fa-solid fa fa-gas-pump me-3"></i> Fuel</a>
          </div>
        
        </div>
        
        <div class="row">
          <div class="d-flex p-1 " style="align-items: center;">
             <a class="m-0 text-dark" href="/" style="text-decoration: none;" ><i class="fa-solid fa fa-toolbox me-3"></i> Flat Tire</a>
          </div>
        
        </div>
        
      
      </div>
      
      
      <div class="row">
      <div class="row">
        <div class="d-flex  p-2 my-1" style="align-items: center; border-top: 1px rgb(221, 221, 221) solid;">
           <a class="m-0 text-dark" href="/" style="text-decoration: none;" ><i class="fa-solid ico fa-bell me-3" ></i> Help & Support</a>
        </div>
      
      </div>
      
      
      <div class="row">
        <div class="d-flex  p-2 my-1" style="align-items: center; border-top: 1px rgb(221, 221, 221) solid;">
           <a class="m-0 text-dark" href="/" style="text-decoration: none;" ><i class="fa-solid ico fa-share-nodes me-3"></i> Referral</a>
        </div>
      
      </div>
      
      
      <div class="row">
        <div class="d-flex  p-2 my-1" style="align-items: center; border-top: 1px rgb(221, 221, 221) solid;">
           <a class="m-0 text-dark" href="/" style="text-decoration: none;" ><i class="fa-solid ico fa-language me-3"></i>Language</a>
        </div>
      
      </div>
      
      
      
      <div class="row position-absolute" style="bottom: 10px; ">
        <div class="d-flex  p-2 my-1" style="align-items: center; border-top: 1px rgb(221, 221, 221) solid;">
           <a class="m-0 text-dark" href="/" style="text-decoration: none;" ><i class="fa-solid ico fa-right-from-bracket me-3"></i> Logout</a>
        </div>
      
      </div>
      
      </div>
      
      
       
    </div>
  </body>

</html>