<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>


  <style>
    .cont{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
      text-align: center;
    }

    #logo {
      margin-bottom: 20px;
    }

    #login-message {
      margin-bottom: 20px;
      font-size: 18px;
    }

    form {
      margin-bottom: 20px;
    }
  </style>

<body style="background-color: #307aff; font-family: 'Poppins', sans-serif;">
  <div class="text-center cont" >
    

        <div class="bg-white rounded text-center p-3 shadow" style="">
            <img src="kamingo_favicon.png" alt="Logo" id="logo" width="70rem">
            <h1 class="fw-bold text-primary" style="font-family: 'Poppins', sans-serif; font-size: 2.5rem;">KAMINGO</h1>
            <hr>
            <div class="text-start" id="another-form" >
            <p class=" m-0" >Enter Your</p>
            <p class="text-muted ">Phone Number</p>


            <form id="signin-form" >
                <div class="mb-3">
                <input type="tel" style="font-size: 1.5rem;"  class="form-control" placeholder="+91" name="phone" id="phone">
                </div>
                <button type="submit" style="border-radius: 3rem; " class="btn btn-primary">Send OTP</button>
            </form>
            </div>

            <div id="another-form1" class="text-start hide" style="">
            <h3>Enter OTP</h3>
            <form id="otp-form" action="sendcode/home" method="post">
                <div class="mb-3">
                <input type="tel" maxlength="5" name="otp" placeholder="_____" class="form-control" id="otp" style="letter-spacing: 18px;
                font-size: 27px; font-weight: bolder; text-align: center; max-width: 15rem;">
                </div>
                <button type="submit" class=" rounded-5 btn btn-success">Submit</button>
            </form>
            </div>
        </div>

        <p class="text-white m-0 mt-5" >Made By Kamingo Consultancy 💖 </p>

  </div>
</body>


<script>
      const handleSubmit = async (event) => {
    event.preventDefault(); // Prevent page reload

    // Get form data
    const formData = new FormData(event.target);

    console.log(formData);
    const phone = formData.get("phone");
    try {
      // Send POST request using fetch
      const response = await fetch('/sendcode', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `phoneNumber=${encodeURIComponent(phone)}`,        
      });

      if (response.ok) {
        console.log('ok');
        document.getElementById('another-form').style.display = 'none';
        document.getElementById('another-form1').style.display = 'block';

      } else {
        console.error('Request failed');

        // Handle the error
      }

    } catch (error) {
      console.error('Request failed:', error);
    }

  };

  // Add event listener to the form submit event
  const signinForm = document.getElementById('signin-form');
  signinForm.addEventListener('submit', handleSubmit);
</script>



</html>