<!DOCTYPE html>
<html lang="en">
<%- include('./partials/header.ejs') %>


  <style>
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 80vh;
      text-align: center;
    }

    #logo {
      margin-bottom: 20px;
    }

    #login-message {
      margin-bottom: 20px;
      font-size: 18px;
    }

    form {
      margin-bottom: 20px;
    }
  </style>

<body style="background-color: #307aff;">
  <div class="container" >
    <div class="bg-light p-3 shadow" style="border-radius: 2rem;">
    <img style="width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;" src="kamingo_favicon.png" alt="Logo" id="logo" width="100rem">
    <h3  id="login-message">Login To Kamingo With WhatsApp number</h3>
    <div id="another-form">
      <h3>Enter Number</h3>
      <form id="signin-form">
        <div class="mb-3">
          <input type="tel" style="font-size: 1.5rem;"  class="form-control" placeholder="+91" name="phone" id="phone">
        </div>
        <button type="submit" style="border-radius: 3rem;" class="btn btn-primary btn-lg">Send OTP</button>
      </form>
    </div>

    <div id="another-form1" style="display: none;">
      <h3>Enter OTP</h3>
      <form id="otp-form" action="sendcode/home" method="post">
        <div class="mb-3">
          <label for="otp" class="form-label">OTP</label>
          <input type="tel" maxlength="5" name="otp" placeholder="_____" class="form-control" id="otp" style="letter-spacing: 18px;
          font-size: 27px; font-weight: bolder; text-align: center;">
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
  </div>
</body>


<script>
      const handleSubmit = async (event) => {
    event.preventDefault(); // Prevent page reload

    // Get form data
    const formData = new FormData(event.target);

    console.log(formData);
    const phone = formData.get("phone");
    try {
      // Send POST request using fetch
      const response = await fetch('/sendcode', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: `phoneNumber=${encodeURIComponent(phone)}`,        
      });

      if (response.ok) {
        console.log('ok');
        document.getElementById('another-form').style.display = 'none';
        document.getElementById('another-form1').style.display = 'block';

      } else {
        console.error('Request failed');

        // Handle the error
      }

    } catch (error) {
      console.error('Request failed:', error);
    }

  };

  // Add event listener to the form submit event
  const signinForm = document.getElementById('signin-form');
  signinForm.addEventListener('submit', handleSubmit);
</script>



</html>